@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  color: yellow;
}

form {
  background-color: black;
  color: black;

}

option {
  color: yellow;
}

button {
  background-color: black;
  color: yellow;
  padding: 15px;
  width: 100%;
}

label {
  color: yellow;
}

input {
  display: block;
  margin: auto;
  width: 75%;
}

table {
  text-align: center;
}

th, td {
  border-width: thin;
  
}

.radioContainer {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: auto;
  grid-template-areas: 
    ". button label ."
    ". button label ."
    ". button label ."
    ". button label .";
}

.gridButton {
  justify-self: end;
  grid-area: button;
}

.gridLabel {
  justify-self: start;
  grid-area: label;
}
